{
  admin off
  auto_https off
}

:8080 {
  encode zstd gzip

  request_body {
    max_size 1MB
  }

  header {
    -Server
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer
  }

  reverse_proxy api:3000
}